/*--- Profile styles ---*/

.profile__main-container-grid {
  margin-top: 1rem !important;
}

.profile__personal-card-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile__about-card-grid {
  justify-content: flex-end;
  align-items: center;
}
